p,
h2,
h3, 
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

strong {
  color: red;
  font-weight: 700;
  background: yellow;

  &.head {
    color: black;
    font-weight: 700;
    background: none;
  }
}